header{
    height: 70px;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header div.logo{
    width: 142px;
    height: 60px;
    background-image: url("/web_static/images/logo.png");
}