.filters{
    background-color: #fff;
    height: 70px;
    outline: 1px solid #ddd;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 25% 25% auto 20% 30px;
    align-items: center;
}

.filters__button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #fff;
    height: 48px;
    border: none;
    border-radius: 4px;
    grid-column-start: 4;
}

.filters__button:hover{
    opacity: 90%;
}

.locations, .amenities{
    padding: 15px 40px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locations{
    border-right: 1px solid #ddd;
}

.filters__title{
    margin: 0;
    font-weight: 600;
}

.filters__subtitle{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}