.places{
    padding: 20px;
}
.places .articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.places h1{
    font-size: 30px;
    margin: 20px 0 4px 0;
}
.places article{
    width: 390px;
    margin: 20px;
    padding: 20px;
    outline: 1px solid #FF5A5F;
    border-radius: 4px;
}
.places .article_title{
    font-size: 30px;
    margin: 0;
    text-align: center;
}